<div class="panel panel-default">
  <div class="panel-heading"> {{ comment.name }} </div>
  <div class="panel-body">
    {{ comment.comment }}
  </div>
  <div class="panel-footer">
    <button class="btn btn-info" (click)="doEdit(comment.id)">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger"
            *ngIf="!blockX"
            (click)="doDelete(comment.id)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <button class="btn btn-primary">
      <span class="glyphicon glyphicon-check"></span>
    </button>
  </div>
</div>
