<div class="panel panel-default">
  <div class="panel-heading"> {{ comment.name }} </div>
  <div class="panel-body">
    {{ comment.comment }}
  </div>
  <div class="panel-footer">
    <button class="btn btn-info" (click)="doEdit(comment._id)">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger" (click)="doDelete(comment._id)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <button class="btn btn-primary">
      <span class="glyphicon glyphicon-check"></span>
    </button>
  </div>
</div>
