<form (ngSubmit)="doSubmit()">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input type="text" class="form-control" placeholder="Author"
             name="name" [(ngModel)]="name">
      {{ name }}
    </div>
    <br />
    <textarea class="form-control" rows="4" placeholder="Text"
              name="comment" [(ngModel)]="comment"></textarea>
    {{ comment }}
    <br />
    <button type="submit" class="btn btn-primary btn-block">Add</button>
    <button type="submit" class="btn btn-warning btn-block">Update</button>
  </div>
</form>
